

.button {
    border-radius: 10px;
    border: 3px solid #61dafb;
    color: #282c34;
    background-color: #61dafb;
    font-weight: bold;
    display: flex;

}

.button:disabled {
    opacity: 0.5;
}
