.counter {
    width: 20vmin;
    border-radius: 10px;
    border: 3px solid #61dafb;
    padding: 10px;
    margin: 10px;
    gap: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.counterWindow {
    color: #282c34;
    background-color: #61dafb;
}

.groupButton {
    border-radius: 10px;
    border: 3px solid #61dafb;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}


.redText {
    color: red !important;
}